html {
    min-height : 100%;
    position : relative;
}
body {
    height : inherit;
    margin : 0;
    padding : 0;
    overflow : hidden;
}

#container {
    height : 200px;
    display : grid;
    grid-template-columns : 40px auto;
    grid-template-rows : 40px auto;
    grid-template-areas :
                "home pages"
                "tools main";
}

.home {
    grid-area : home;
    background-image : url("Images/Title.png");
    background-size : cover;
    background-repeat: no-repeat;
}

.pages {
    grid-area : pages;
}

.tools {
    grid-area : tools;
}
